
<div id="<%= dom_id quote %>">


<h1>Quote</h1>
  <p>
    <strong>Saying:</strong>
    <br>
    <%= quote.saying %>
  </p>

  <p>
    <strong>Said by:</strong>
    <br>
    <%= - quote.said_by %>
  </p>

  <p>
    <strong>Votes:</strong>
    <%= quote.votes %>
  </p>

</div>
