<div class="container">

<div class="center">
<i class="bi bi-chat-square-quote-fill" id="quotes"></i>
</div>

<h1 class="maintext">Add a new quote</h1>
<hr>

<%= render "form", quote: @quote %> 

<br>


<footer>
<div class="footer">
  <p>@ All rights reserved - Erica Teaford - 2024</p>
</div>  
</footer>

</div>
